body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 60vw;
    height: 60vh;
    border: 2px solid black;
}
#stan, #confidence, #result {
    margin: 2px;
    height: 10vh;
    border: 1px solid black;
    font-size: 2rem;
}
